
body {
  background: #ff0;
  font-family: Menlo, monospace;
  font-size: 80%;
}

.title {
  position: fixed;
  top: 0;
  left: 0; width: 100%;
  text-align: center;
}

.event-log {
  padding-top: 30px;
  padding-bottom: 60px;
  list-style: none;
  overflow: scroll;
}

.event-log li {
  line-height: 1.5;
  margin: 10px;
}

.button {
  z-index: 1;
  position: fixed;
  bottom: 10px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  background: #000;
  color: #fff;
  padding: 10px;
  transition: all 0.2s;
}
  .button:hover {
    color: #000;
    background: #fff;
  }

.clear-button {
  left: 10px;
}

.close-button {
  right: 10px;
}
  .close-button:hover {
    background: #f00;
    color: #fff;
  }
